.dropBtn {
    background-color: rgb(7, 177, 148);
    height: 70px;
    width: 35vw;
    margin: 10px;
    margin-right: -3.5vw;
    border-bottom-right-radius: 40px;
}

.dropBtn:hover {
    background-color: rgb(8, 155, 130);
}

.dropBtnText {
    line-height: 70px;
}